@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext,latin-ext");
.mb10 {
  margin-bottom: 10px;
}

.fri-mail-icon {
  background-image: url('../images/icons-s163fee192c.png');
  background-position: 0 -336px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 40px;
}

.fri-fast-icon {
  background-image: url('../images/icons-s163fee192c.png');
  background-position: 0 -208px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 94px;
  width: 100px;
}

.fri-profit-icon {
  background-image: url('../images/icons-s163fee192c.png');
  background-position: 0 -429px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 87px;
  width: 100px;
}

.fri-fair-icon {
  background-image: url('../images/icons-s163fee192c.png');
  background-position: 0 -54px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 97px;
  width: 100px;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans Narrow", Arial;
}

* {
  box-sizing: border-box;
}

.margin_zero {
  margin: 0;
}

.content__background_bottom-25 {
  margin-bottom: 25px;
}

.container, .container-thanks {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.container_text-center {
  text-align: center;
}

.header, .footer {
  background-image: url("../images/background/big_pattern.png");
  background-repeat: repeat;
  background-position: center;
}

.header-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-grid__item {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  padding: 15px 0 15px 0;
}
.header-grid__item.header-contacts__phone {
  float: right;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.logo__title {
  display: block;
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  line-height: 1em;
  margin-bottom: 10px;
}

.logo__description {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.callback {
  display: block;
}

.callback_text-center {
  text-align: center;
}

.button-red {
  text-decoration: none;
  background: #FF3954;
  border-radius: 10px;
  border-color: transparent;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.button-red:hover {
  background: #FF1132;
}

.callback__button {
  padding: 5px 20px 5px 20px;
  display: block;
  line-height: 1em;
  margin: 0 auto;
  width: 220px;
}

.callback__link {
  color: #FFFFFF;
  font-size: large;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}
.callback__link:hover {
  color: #1f4d8d;
}

.header-contacts {
  display: block;
}

.header-contacts__phone-link {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1em;
  margin-bottom: 10px;
}

.header-contacts__icon {
  margin: 0 5px 0 5px;
}

.header-contacts__work-schedule {
  display: block;
  text-align: right;
  color: #FFFFFF;
}

.header-contacts__phone-number {
  font-size: 37px;
  font-weight: 900;
  line-height: 1em;
}

.header-contacts__day-and-night {
  font-size: 18px;
}

.header-contacts__courier {
  font-size: 18px;
}

.feedback__titles {
  text-align: center;
  margin-bottom: 15px;
}

.feedback__h1 {
  color: #007879;
  font-size: 60px;
  font-weight: bold;
}

.feedback__h2 {
  color: #20B7BE;
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}

.container_1200px {
  margin: 0 -100px 0 -100px;
}

.feedback-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.feedback-form {
  display: block;
  border: 3px solid #0B99A3;
  width: 300px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 40px 20px 20px 20px;
}

.feedback-form__title {
  display: block;
  line-height: 1.1em;
  margin-bottom: 25px;
  color: #034043;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.feedback-form__input {
  width: 100%;
  margin-bottom: 10px;
  color: #5B5B5B;
}
.feedback-form__input:hover::-moz-placeholder {
  color: #000000;
}
.feedback-form__input:hover:-ms-input-placeholder {
  color: #000000;
}
.feedback-form__input:hover::-webkit-input-placeholder {
  color: #000000;
}

.feedback-form__textarea {
  font-family: "PT Sans Narrow", arial;
  width: 100%;
  height: 115px;
  margin-bottom: 25px;
  font-size: 18px;
}

.feedback-form__button {
  width: 100%;
  padding: 10px 0 10px 0;
  margin: auto;
  font-size: 26px;
}

.content__background {
  background: url("../images/background/bg.jpg") repeat;
  padding-bottom: 25px;
}

.feedback__image {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  padding: 1%;
}
.feedback__image img {
  width: 100%;
}

.content__text {
  font-size: 26px;
}

.content__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  overflow: hidden;
  line-height: 1em;
}
.content__title:after {
  width: 100%;
  content: "";
  border-bottom: 3px solid #000;
  vertical-align: middle;
  display: inline-block;
  margin-right: -100%;
}
.content__title:before {
  width: 100%;
  content: "";
  border-bottom: 3px solid #000;
  vertical-align: middle;
  display: inline-block;
  margin-left: -100%;
}

.why-we__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.why-we-item__icon {
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.why-we-item__description {
  font-size: 22px;
}

.why-we-item__title {
  font-size: 34px;
  margin: 0;
}

.content-map {
  display: -ms-flexbox;
  display: flex;
}

.content-map__map {
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
  min-height: 340px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.content-map__text {
  float: left;
  padding-left: 20px;
  font-size: 24px;
}

.content-map__description_red {
  color: #ff1132;
  font-weight: 900;
}

.content-map__description {
  margin-bottom: 15px;
}

.content__button {
  display: block;
  width: 200px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  margin-bottom: 45px;
}

.content-map__call-us {
  display: block;
}

.content-map__phone {
  display: block;
  font-weight: 900;
  text-decoration: none;
  color: #000000;
  font-size: 32px;
}

.popup {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.popup.opened {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.popup__overlay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.6s ease 0s;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}
.popup__overlay.opened {
  opacity: 1;
  visibility: visible;
}

.popup-wrapper_call-me {
  display: inline-block;
  position: relative;
  max-width: 440px;
  padding: 75px 50px 30px 50px;
  background: #fff;
  vertical-align: middle;
  background: url("http://skupkanoutbukov.ru/files/images/bg.jpg") repeat center;
  border: 5px solid #0b99a3;
}

.feedback-form__input_call-me {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}

.popup-wrapper_corporate {
  display: inline-block;
  position: relative;
  max-width: 650px;
  padding: 80px 50px 30px 50px;
  background: #fff;
  vertical-align: middle;
  background: url("http://skupkanoutbukov.ru/files/images/bg.jpg") repeat center;
  border: 5px solid #0b99a3;
}

.feedback-form__input_corporate {
  display: block;
  margin: 0 auto 20px auto;
  width: 340px;
}

.popup__close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 22px;
  height: 22px;
  border: 3px solid #FFFFFF;
  box-shadow: #000000;
  border-radius: 50%;
  background-color: #000000;
}
.popup__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
.popup__close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -1px;
  width: 2px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}

.popup-form__row {
  margin: 1em 0;
}

.hidden {
  visibility: hidden;
}

.popup__text {
  display: block;
  font-size: 22px;
  margin-bottom: 25px;
}

.popup-form__button {
  display: block;
  padding: 5px 50px 5px 50px;
  font-size: 18px;
  margin: 0 auto;
}

.container-thanks {
  min-height: calc(100vh - 450px);
}

.thanks-text {
  font-size: 80px;
  text-align: center;
  margin: 0;
  padding: 0.63em 0;
}

@media screen and (max-width: 1200px) {
  .container_1200px {
    margin: 0;
  }
}
@media screen and (max-width: 991px) {
  .feedback-form {
    width: 250px;
  }

  .feedback-form__button {
    font-size: 22px;
  }

  .feedback-form__title br {
    display: none;
  }

  .callback__button {
    margin-bottom: 5px;
  }

  .header-contacts__phone-number {
    font-size: 30px;
  }

  .header-grid {
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .header-grid__item_middle {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container_1200px {
    width: 100%;
  }

  .feedback-grid {
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px;
  }

  .feedback__h1 {
    font-size: 45px;
    line-height: 1em;
    margin-bottom: 10px;
  }

  .feedback__h2 {
    font-size: 35px;
    line-height: 1em;
    margin-bottom: 10px;
  }

  .feedback-grid {
    margin-bottom: 10px;
  }

  .content__title {
    font-size: 34px;
  }

  .why-we-item__title {
    font-size: 28px;
  }

  .why-we-item__description {
    font-size: 18px;
  }

  .content__text {
    font-size: 18px;
  }

  .content-map__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .feedback-grid {
    margin-bottom: 0;
    padding: 0;
  }

  .feedback {
    padding: 20px 0;
  }

  .header-grid {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-grid__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .header-grid__item_first {
    -ms-flex-order: 1;
    order: 1;
  }

  .header-grid__item_second {
    -ms-flex-order: 2;
    order: 2;
  }

  .header-grid__item_last {
    -ms-flex-order: 3;
    order: 3;
  }

  .logo__title {
    display: block;
    text-align: center;
    font-size: 30px;
  }

  .logo__description {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
  }

  .callback__button {
    margin: 0 auto 10px;
    max-width: 220px;
  }

  .header-contacts__phone-link {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-contacts__work-schedule {
    text-align: center;
  }

  .feedback__h1 {
    font-size: 32px;
  }

  .feedback__h2 {
    font-size: 26px;
  }

  .feedback-form {
    width: 100%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }

  .feedback-form__title {
    font-size: 24px;
  }

  .feedback-form__textarea {
    font-size: 18px;
  }

  .feedback-form__button {
    font-size: 20px;
  }

  .content__title {
    font-size: 32px;
  }
  .content__title:after {
    width: 200%;
  }
  .content__title:before {
    width: 200%;
  }

  .why-we-item__title {
    font-size: 26px;
  }

  .why-we-item__description {
    font-size: 18px;
  }

  .content__text {
    font-size: 18px;
  }

  .content-map {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content-map__text {
    margin-bottom: 15px;
    padding: 0;
  }

  .why-we-item__icon {
    -ms-flex-preferred-size: 77px;
    flex-basis: 77px;
  }

  .feedback__image {
    display: none;
  }

  .fri-fast-icon_50px {
    background-image: url('../images/icons-s163fee192c.png');
    background-position: 0 -156px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 47px;
    width: 50px;
  }

  .fri-profit-icon_50px {
    background-image: url('../images/icons-s163fee192c.png');
    background-position: 0 -380px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 44px;
    width: 50px;
  }

  .fri-fair-icon_50px {
    background-image: url('../images/icons-s163fee192c.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    width: 50px;
  }

  .header-contacts__icon_25px {
    background-image: url('../images/icons-s163fee192c.png');
    background-position: 0 -307px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 25px;
  }

  .popup-wrapper_call-me {
    max-width: 320px;
  }

  .popup-wrapper_corporate {
    max-width: 320px;
  }

  .popup__text {
    font-size: 18px;
  }

  .feedback-form__input_corporate {
    max-width: 100%;
  }

  .feedback-form__input_call-me {
    max-width: 100%;
  }
}
