@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext,latin-ext");
.mb10 {
  margin-bottom: 10px;
}

.fri {
  display: inline-block;
  vertical-align: top;
}

.fri-mail-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 -201px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 40px;
}

.fri-fast-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 -102px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 94px;
  width: 100px;
}

.fri-profit-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 -245px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 87px;
  width: 100px;
}

.fri-fair-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 97px;
  width: 100px;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans Narrow", Arial;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.container_text-center {
  text-align: center;
}

.header {
  background: url("/images/background/big_pattern.png") repeat center;
}

.header__container {
  padding: 15px 0;
}

.header-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-grid__item {
  width: 33.33%;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.logo__title {
  font-size: 34px;
  font-weight: bold;
}

.logo__description {
  font-size: 18px;
  display: block;
}

.callback {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.button-red {
  text-decoration: none;
  background: #FF3954;
  border-radius: 10px;
  border-color: transparent;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
}
.button-red:hover {
  background: #FF1132;
}

.callback__link {
  display: block;
  color: #FFFFFF;
  font-size: large;
  cursor: pointer;
  margin-top: 10px;
}
.callback__link:hover {
  color: #1f4d8d;
}

.header-contacts {
  float: right;
}

.header-contacts__phone {
  float: right;
}

.header-contacts__phone-link {
  color: #FFFFFF;
  text-decoration: none;
}

.header-contacts__work-schedule {
  color: #FFFFFF;
  text-align: right;
}

.header-contacts__phone-number {
  display: inline-block;
  vertical-align: middle;
  font-size: 37px;
  font-weight: 900;
}

.header-contacts__day-and-night {
  display: block;
  float: right;
  font-size: 18px;
}

.header-contacts__courier {
  display: block;
  float: right;
  font-size: 18px;
}

.feedback__title {
  color: #007879;
  font-size: 60px;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.feedback__subtitle {
  color: #20B7BE;
  font-size: 55px;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.feedback__background {
  background: url("/images/background/banner.jpg") center no-repeat;
  box-shadow: 0px 0px 10px #000000;
  position: relative;
  background-position-y: 150px;
}

.feedback-form {
  display: inline-block;
  max-width: 300px;
  min-height: 380px;
  border: 3px solid #0B99A3;
  margin-bottom: 50px;
  text-align: center;
}

.feedback-form__title {
  color: #034043;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.feedback-form__input {
  display: inline-block;
  margin-bottom: 5px;
  width: 260px;
}
.feedback-form__input:hover {
  box-shadow: 0 0 2px 1px red;
}

.feedback-form__textarea {
  font-family: "PT Sans Narrow", arial;
  width: 260px;
  height: 115px;
}

.feedback-form__button {
  display: inline-block;
  width: 260px;
  margin-top: 20px;
  font-size: 26px;
}

.content__background {
  background: url("/images/background/bg.jpg") repeat;
}

.content__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  overflow: hidden;
}
.content__title:after {
  width: 100%;
  content: "";
  border-bottom: 3px solid #000;
  vertical-align: middle;
  display: inline-block;
  margin-right: -100%;
}
.content__title:before {
  width: 100%;
  content: "";
  border-bottom: 3px solid #000;
  vertical-align: middle;
  display: inline-block;
  margin-left: -100%;
}

.why-we__item {
  width: 100%;
  text-align: left;
  padding: 10px 0 10px 0;
}

.why-we-item__icon {
  display: inline-block;
  width: 10%;
}

.why-we-item__text {
  display: inline-block;
  width: 86%;
  min-width: 320px;
  vertical-align: middle;
  padding: 0 15px 15px 15px;
}

.content__text {
  display: inline-block;
  padding: 0 15px 15px 15px;
  font-size: 26px;
}

.why-we-item__title {
  display: inline-block;
  font-size: 34px;
  margin: 0;
}

.why-we-item__description {
  display: inline-block;
  font-size: 22px;
}

.content-map__map {
  width: 480px;
  margin: 0 15px 0 15px;
  display: inline-block;
  float: left;
}

.content-map__text {
  width: 490px;
  float: left;
  font-size: 24px;
}

.content-map__description_red {
  display: block;
  color: #ff1132;
  font-weight: 900;
}

.content-map__description {
  display: block;
}

.content__button {
  display: block;
  width: 200px;
  text-align: center;
  margin: 15px 0 15px 0;
}

.content-map__call-us {
  display: block;
}

.content-map__phone {
  display: block;
  font-weight: 900;
  text-decoration: none;
  color: #000000;
  font-size: 32px;
}

@media screen and (max-width: 991px) {
  .logo__title {
    font-size: 24px;
  }

  .header-contacts__phone-number {
    font-size: 24px;
  }

  .fri-mail-icon {
    height: 28px;
    width: 27px;
    background-position: 0px -130px;
    background-size: 66px auto;
  }
}
@media screen and (max-width: 767px) {
  .logo__title {
    font-size: 14px;
  }

  .header-contacts__phone-number {
    font-size: 14px;
  }

  .logo__description {
    font-size: 12px;
  }

  .callback__button {
    font-size: 14px;
    width: 100%;
  }

  .callback__link {
    font-size: 12px;
    width: 100%;
  }

  .fri-mail-icon {
    height: 15px;
    width: 14px;
    background-position: 0px -69px;
    background-size: 35px auto;
  }

  .header-contacts__courier {
    font-size: 12px;
  }

  .header-contacts__day-and-night {
    font-size: 12px;
  }
}
