@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext,latin-ext");
.mb10 {
  margin-bottom: 10px;
}

.fri-mail-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 -201px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 40px;
}

.fri-fast-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 -102px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 94px;
  width: 100px;
}

.fri-profit-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 -245px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 87px;
  width: 100px;
}

.fri-fair-icon {
  background-image: url('../images/icons-s3afd5323c0.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 97px;
  width: 100px;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans Narrow", Arial;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.container_text-center {
  text-align: center;
}

.header {
  background: url("/images/background/big_pattern.png") repeat center;
}

.header-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-grid__item {
  max-width: 33%;
  padding: 15px 0 15px 0;
}
.header-grid__item.header-contacts__phone {
  float: right;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.logo__title {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.logo__description {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.callback {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button-red {
  text-decoration: none;
  background: #FF3954;
  border-radius: 10px;
  border-color: transparent;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.button-red:hover {
  background: #FF1132;
}

.callback__button {
  padding: 5px 20px 5px 20px;
}

.callback__link {
  color: #FFFFFF;
  font-size: large;
  cursor: pointer;
  text-align: center;
}
.callback__link:hover {
  color: #1f4d8d;
}

.header-contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-contacts__phone-link {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.header-contacts__icon {
  margin: 0 5px 0 5px;
}

.header-contacts__work-schedule {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.header-contacts__phone-number {
  font-size: 37px;
  font-weight: 900;
}

.header-contacts__day-and-night {
  font-size: 18px;
}

.header-contacts__courier {
  font-size: 18px;
}

.feedback__titles {
  text-align: center;
}

.feedback__h1 {
  color: #007879;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.feedback__h2 {
  color: #20B7BE;
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}

.container_1200px {
  margin: 0 -100px 0 -100px;
}

.feedback-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.feedback-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  border: 3px solid #0B99A3;
  width: 300px;
  height: 380px;
}

.feedback-form__title {
  color: #034043;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.feedback-form__input {
  width: 260px;
  margin: auto;
}
.feedback-form__input:hover {
  box-shadow: 0 0 2px 1px red;
}

.feedback-form__textarea {
  font-family: "PT Sans Narrow", arial;
  width: 260px;
  height: 115px;
  margin: auto;
}

.feedback-form__button {
  width: 260px;
  padding: 10px 0 10px 0;
  margin: auto;
  font-size: 26px;
}

.content__background {
  background: url("/images/background/bg.jpg") repeat;
}

.content__text {
  font-size: 26px;
}

.content__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  overflow: hidden;
}
.content__title:after {
  width: 100%;
  content: "";
  border-bottom: 3px solid #000;
  vertical-align: middle;
  display: inline-block;
  margin-right: -100%;
}
.content__title:before {
  width: 100%;
  content: "";
  border-bottom: 3px solid #000;
  vertical-align: middle;
  display: inline-block;
  margin-left: -100%;
}

.why-we__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.why-we-item__icon {
  width: 170px;
}

.why-we-item__description {
  font-size: 22px;
}

.why-we-item__title {
  font-size: 34px;
  margin: 0;
}

.content-map {
  display: -ms-flexbox;
  display: flex;
}

.content-map__map {
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
  min-height: 480px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.content-map__text {
  float: left;
  padding-left: 20px;
  font-size: 24px;
}

.content-map__description_red {
  color: #ff1132;
  font-weight: 900;
}

.content__button {
  text-align: center;
  padding: 5px 15px 5px 15px;
}

.content-map__call-us {
  display: block;
}

.content-map__phone {
  display: block;
  font-weight: 900;
  text-decoration: none;
  color: #000000;
  font-size: 32px;
}

.popup {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.popup.opened {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.popup__overlay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.6s ease 0s;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}
.popup__overlay.opened {
  opacity: 1;
  visibility: visible;
}

.popup-wrapper {
  display: inline-block;
  position: relative;
  max-width: 80%;
  padding: 20px;
  background: #fff;
  vertical-align: middle;
}

.popup-form__row {
  margin: 1em 0;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 991px) {
  .logo__title {
    font-size: 24px;
  }

  .header-contacts__phone-number {
    font-size: 24px;
  }

  .fri-mail-icon {
    height: 28px;
    width: 27px;
    background-position: 0px -130px;
    background-size: 66px auto;
  }
}
@media screen and (max-width: 767px) {
  .logo__title {
    font-size: 14px;
  }

  .header-contacts__phone-number {
    font-size: 14px;
  }

  .logo__description {
    font-size: 12px;
  }

  .callback__button {
    font-size: 14px;
    width: 100%;
  }

  .callback__link {
    font-size: 12px;
    width: 100%;
  }

  .fri-mail-icon {
    height: 15px;
    width: 14px;
    background-position: 0px -69px;
    background-size: 35px auto;
  }

  .header-contacts__courier {
    font-size: 12px;
  }

  .header-contacts__day-and-night {
    font-size: 12px;
  }
}
