@media screen and (max-width: 991px)
  .logo__title
    font-size: 24px

  .header-contacts__phone-number
    font-size: 24px

  .fri-mail-icon
    height: 28px
    width: 27px
    background-position: 0px -130px
    background-size: 66px auto

@media screen and (max-width: 767px)
  .logo__title
    font-size: 14px

  .header-contacts__phone-number
    font-size: 14px

  .logo__description
    font-size: 12px

  .callback__button
    font-size: 14px
    width: 100%

  .callback__link
    font-size: 12px
    width: 100%

  .fri-mail-icon
    height: 15px
    width: 14px
    background-position: 0px -69px
    background-size: 35px auto

  .header-contacts__courier
    font-size: 12px

  .header-contacts__day-and-night
    font-size: 12px