@media screen and (max-width: 991px)
  .logo__title
    font-size: 24px

  .header-contacts__phone-number
    font-size: 24px


@media screen and (max-width: 767px)
  .logo__title
    font-size: 14px

  .header-contacts__phone-number
    font-size: 14px

  .logo__description
    font-size: 12px

  .callback__button
    font-size: 14px
    width: 100%

  .callback__link
    font-size: 12px
    width: 100%

  .header-contacts__courier
    font-size: 12px

  .header-contacts__day-and-night
    font-size: 12px