{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <div class="container_1200px">
            <div class="feedback">
                <div class="feedback__titles">
                    <h1 class="feedback__h1">Хотите продать ноутбук или компьютер?</h1>
                    <h2 class="feedback__h2">Оценим и купим в любом состоянии!</h2>
                </div>
                <div class="feedback-grid">
                    <div class="feedback__image">
                        <img src="images/background/notebook.jpg" alt="">
                    </div>
                    <form action="" class="feedback-form">
                        <div class="feedback-form__title">Онлайн оценка <br>за 15 минут</div>
                        <input class="js-input-mask feedback-form__input" type="text" placeholder="+7 (___) ___-__-__">
                        <textarea class="feedback-form__textarea" name="" id="" cols="30" rows="10"
                                  placeholder="Модель, характеристики, состояние..."></textarea>
                        <button href="" class="button button-red feedback-form__button">Оценить сейчас</button>
                    </form>
                    <div class="feedback__image">
                        <img src="images/background/money.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content content__background">
        <div class="container">
            <div class="content__title">
                Почему выбирают нас
            </div>
            <div class="why-we">
                <div class="why-we__item">
                    <div class="why-we-item__icon">
                        <i class="fri-fast-icon fri-fast-icon_50px"></i>
                    </div>
                    <div class="why-we-item__text">
                        <h3 class="why-we-item__title">У нас быстрее всех + Бесплатный курьер!</h3>
                        <div class="why-we-item__description">Курьер приедет бесплатно в любое время суток, оценит ваше устройство и выдаст деньги СРАЗУ! Также Вы можете воспользоваться формой онлайн-оценки и заранее узнать стоимость своего ноутбука.                        </div>
                    </div>
                </div>
                <div class="why-we__item">
                    <div class="why-we-item__icon">
                        <i class="fri-profit-icon fri-profit-icon_50px"></i>
                    </div>
                    <div class="why-we-item__text">
                        <h3 class="why-we-item__title">Продать нам быстро и выгодно!</h3>
                        <div class="why-we-item__description">Продавать технику самостоятельно долго, зачастую это занимает больше месяца и не оправдывает Ваших финансовых ожиданий. Позвоните - и Вы получите желаемую сумму в течение часа с момента обращения!
                        </div>
                    </div>
                </div>
                <div class="why-we__item">
                    <div class="why-we-item__icon">
                        <i class="fri-fair-icon fri-fair-icon_50px"></i>
                    </div>
                    <div class="why-we-item__text">
                        <h3 class="why-we-item__title">Продать нам быстро и выгодно!</h3>
                        <div class="why-we-item__description">Курьер приедет бесплатно в любое время суток, оценит ваше
                            устройство и выдаст деньги СРАЗУ! Также Вы можете воспользоваться формой онлайн-оценки и
                            заранее узнать стоимость своего ноутбука.
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__title">
                Продать нам выгодней
            </div>
            <div class="content__text">
                <p>Не знаете куда продать ноутбук в Москве? Мы выкупим ваш ноутбук по самой выгодной цене!</p>
                <p>Если у Вас морально устаревший ноутбук или планшет который никому уже не нужен и который никто не
                    купит даже за сто рублей — продайте его нам, мы постараемся дать за него максимальную сумму.</p>
                <p>Если Вам срочно нужны деньги и вы хотите продать современную игровую или бизнес модель, Вы можете
                    сдать свой ноутбук в нашу скупку с минимальной потерей в цене!</p>
                <p>В целом стоимость ноутбука зависит от множества факторов: год выпуска, «начинка», состояние. Но
                    будьте уверены наши специалисты честно оценят ваше устройство и предложат до 100 т. р. наличными за
                    самые навороченные модели.</p>
            </div>
            <div class="content__title">
                Схему проезда вы можете увидеть ниже
            </div>
            <div class="content-map">

                <iframe class="content-map__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.376445312138!2d37.563575316185776!3d55.734587980548525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bbdf5838719%3A0x96a1ef43119d5a59!2z0KHQsNCy0LLQuNC90YHQutCw0Y8g0L3QsNCxLiwgMTcsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMTk0MzU!5e0!3m2!1sru!2skz!4v1486546824858" frameborder="0" allowfullscreen></iframe>
                    <div class="content-map__text">
                    <p class="content-map__description_red">В связи с переездом, подъехать к нам в офис Вы можете только по предварительному звонку!</p>
                    <p class="content-map__description">Мы рекомендуем Вам воспользоваться бесплатной услугой вызова курьера!</p>
                    <a href="#" class="button button-red content__button data-popup-name="call-me-back"">Вызвать курьера</a>
                    <p class="content-map__call-us">А также Вы можете позвонить нам круглосуточно:</p>
                    <a class="content-map__phone" href="tel:84952667754">8 (495)266-77-54</a>
                </div>
            </div>
        </div>
    </div>
    <div class="popup__overlay">
        <div class="popup" data-popup="call-me-back">
            <div class="popup-wrapper_call-me popup__window">
                <a href="#" class="js-close-popup popup__close"></a>
                <div class="popup__text">Оставьте свой <strong>телефон</strong> и наш специалист перезвонит Вам в ближайшее время!</div>
                <input class="js-input-mask feedback-form__input_call-me" type="text" placeholder="+7 (___) ___-__-__"></input>
                <button class="button button-red popup-form__button">Отправить</button>
            </div>
        </div>
        <div class="popup" data-popup="corporate">
            <div class="popup-wrapper_corporate popup__window">
                <a href="#" class="js-close-popup popup__close"></a>
                <div class="popup__text"><strong>Мы покупаем компьютерную технику у фирм в любом количестве.</strong> Наличный и безналичный расчет. Бесплатный выезд оценщика. Оставьте Ваш телефон ниже или просто позвоните нам.</div>
                <input class="js-input-mask feedback-form__input_corporate" type="text" placeholder="+7 (___) ___-__-__"></input>
                <button class="button button-red popup-form__button">Отправить</button>
            </div>
        </div>
    </div>
{% endblock %}
