{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <div class="content__background">
        <div class="container">
            <div class="content-wrapper">
                <h1 class="content__title-sell">Хотите продать ноутбук или компьютер?</h1>
                <h2 class="content__title-valuation">Оценим и купим в любом состоянии!</h2>
                <form action="" class="valuation-form">
                    <div class="valuation-title">
                        <p>Онлайн оценка<br>за 15 минут</p>
                    </div>
                    <input type="text" placeholder="8(___)___-__-__" pattern="8\([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}" class="valuation-phone">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Модель, характеристики, состояние..." class="valuation-textarea"></textarea>
                    <a href="" class="button button-red valuation-button">Оценить сейчас</a>
                </form>
            </div>
        </div>
    </div>
    <div class="content__background_texture">
        <div class="container clearfix">
            <div class="content-wrapper">
                <div class="content">
                    <div class="content__title-why-we">
                        Почему выбирают нас
                    </div>
                    <div class="why-we__item">
                        <i class="fri fri-fast-icon"></i>
                        <span class="why-we__title">Продать нам быстро и выгодно!</span>
                        <span class="why-we__description">Курьер приедет бесплатно в любое время суток, оценит ваше устройство и выдаст деньги СРАЗУ! Также Вы можете воспользоваться формой онлайн-оценки и заранее узнать стоимость своего ноутбука.</span>
                    </div>
                    <div class="why-we__item">
                        <i class="fri fri-profit-icon"></i>
                        <span class="why-we__title">Продать нам быстро и выгодно!</span>
                        <span class="why-we__description">Продавать технику самостоятельно долго, зачастую это занимает больше месяца и не оправдывает Ваших финансовых ожиданий. Позвоните - и Вы получите желаемую сумму в течение часа с момента обращения!</span>
                    </div>
                    <div class="why-we__item">
                        <i class="fri fri-fair-icon"></i>
                        <span class="why-we__title">Честная оценка техники. Честный сервис, максимальная оценка!</span>
                        <span class="why-we__description">Мы готовы предложить Вам 90% от рыночной стоимости. Мы НЕ «впариваем» Вам Б/У ноутбуки взамен ваших и не предлагаем обмен. Только наличные! Мы НЕ обманываем Вас завышенной оценкой, как это делают конкуренты, чтобы заманить Вас в офис!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}