{% extends "layouts/app.twig" %}

{% block pageTitle %}Скупка ноутбуков в Москве круглосуточно — Выгодно без документов! — СкупкаНоутбуков ру{% endblock %}
{% block pageDescription %}Круглосуточная онлайн оценка и скупка ноутбуков в Москве и Подмосковье! Бесплатный курьер 24/7.{% endblock %}
{% block content %}
	<div class="section-feedback">
		<div class="container section-feedback__container">
			<a name="feedback-form"><h1 class="section-feedback__title">Хотите продать ноутбук или компьютер?</h1></a>
			<h2 class="section-feedback__subtitle">Оценим и купим в любом состоянии!</h2>
			<div class="feedback-grid">
				<div class="feedback-grid__item-image">
					<img class="feedback-grid__image" src="images/background/notebook.jpg" alt="">
				</div>
				<form class="feedback-grid__form feedback-form">
					<p class="feedback-form__title">Онлайн оценка <br>за 15 минут</p>
					<div class="feedback-form__line">
						<input class="js-input-mask feedback-form__input" name="phone" type="text">
						<div class="feedback-form__warning">Номер телефона должен состоять из 10 цифр, начиная с кода оператора</div>
						<div class="input-placeholder">Телефон*</div>
					</div>
					<div class="feedback-form__line">
						<textarea class="js-auto-size feedback-form__textarea" name="text"></textarea>
						<div class="input-placeholder">Модель, характеристики, состояние...</div>
					</div>
					<button class="feedback-form__button button">Оценить сейчас</button>
					<p class="feedback-form__rate-now">Сообщим цену в течение 7 мин.</p>
				</form>
				<div class="feedback-grid__item-image">
					<img class="feedback-grid__image" src="images/background/money.jpg" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="content__title">Почему выбирают нас</div>
			<div class="content__section why-we">
				<div class="why-we__item">
					<div class="why-we__icon">
						<i class="fri-fast-icon"></i>
					</div>
					<div class="why-we__text">
						<div class="why-we__title">Курьер приедет сегодня - бесплатно!</div>
						<div class="why-we__description">
							<div class="mb10">Курьер приедет бесплатно в любое время суток, оценит ваше устройство и
								выдаст деньги СРАЗУ! Воспользуйтесь формой <a class="link" href="#feedback-form">онлайн
									оценки</a> и заранее узнайте стоимость своего ноутбука.
							</div>
							<a href="#feedback-form" class="link">Узнать цену ноутбука за 10 минут ></a></div>
					</div>
				</div>
				<div class="why-we__item">
					<div class="why-we__icon">
						<i class="fri-profit-icon"></i>
					</div>
					<div class="why-we__text">
						<div class="why-we__title">Продать нам быстро и выгодно!</div>
						<div class="why-we__description">Продавать технику самостоятельно долго, зачастую это занимает
							больше месяца и не оправдывает ваших финансовых ожиданий. Позвоните по номеру <a
									class="link" href="tel:84959200462">8 (495) 920-04-62</a> - и вы получите желаемую
							сумму в течение часа с момента обращения!
						</div>
					</div>
				</div>
				<div class="why-we__item">
					<div class="why-we__icon">
						<i class="fri-fair-icon"></i>
					</div>
					<div class="why-we__text">
						<div class="why-we__title">Честный сервис, максимальная оценка!</div>
						<div class="why-we__description">Мы готовы предложить вам 90% от рыночной стоимости. Мы НЕ
							«впариваем» вам Б/У ноутбуки взамен ваших и не предлагаем обмен. Только наличные! Мы НЕ
							обманываем вас завышенной оценкой, как это делают конкуренты, чтобы заманить вас в офис!
						</div>
					</div>
				</div>
			</div>
			<div class="content__title">Продать нам выгодней</div>
			<div class="content__section content-text">
				<p>Не знаете куда продать ноутбук в Москве? Мы выкупим ваш ноутбук по самой выгодной цене!</p>
				<p>Если у Вас морально устаревший ноутбук или планшет который никому уже не нужен и который никто не
					купит даже за сто рублей — продайте его нам, мы постараемся дать за него максимальную сумму.</p>
				<p>Если Вам срочно нужны деньги и вы хотите продать современную игровую или бизнес модель, Вы можете
					сдать свой ноутбук в нашу скупку с минимальной потерей в цене!</p>
				<p>Стоимость ноутбука зависит от множества факторов: год выпуска, «начинка», состояние. Но
					будьте уверены наши специалисты честно оценят ваше устройство и предложат до 100 т. р. наличными за
					самые навороченные модели.</p>
			</div>
			<div class="content__title">Схема проезда</div>
			<div class="content__map content-map">
				<iframe class="content-map__map"
				        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.376445312138!2d37.563575316185776!3d55.734587980548525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bbdf5838719%3A0x96a1ef43119d5a59!2z0KHQsNCy0LLQuNC90YHQutCw0Y8g0L3QsNCxLiwgMTcsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMTk0MzU!5e0!3m2!1sru!2skz!4v1486546824858"
				        frameborder="0" allowfullscreen></iframe>
				<div class="content-map__text">
					<p class="content-map__descr">Наш офис находится по адресу Саввинская набережная, 17. Перед визитом
						в офис предварительно позвоните по телефону <a class="link" href="tel:84959200462">8 (495)
							920-04-62</a></p>
					<p class="content-map__descr">Заказать курьера по Москве и Московской области:</p>
					<div class="content-map__button-wrap">
						<span class="js-open-popup content-map__button button" data-popup-name="call-me-back">Вызвать курьера бесплатно</span>
						<p class="content-map__gray-text">Курьер приедет в течение 24 часов</p>
					</div>
					<p class="content-map__call-us ">Остались вопросы? Напишите нам в WhatsApp или Viber.</p>
					<p><a class="content-map__phone" href="tel:89859200462">8 (985) 920-04-62</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="popup-overlay">
		<div class="popup popup_call-me " data-popup="call-me-back">
			<span class="js-close-popup popup__close"></span>
			<div class="popup__text">Оставьте свой <strong>телефон</strong> и наш специалист перезвонит Вам в ближайшее
				время!
			</div>
			<form class="popup__feedback-form feedback-form">
				<div class="feedback-form__line">
					<input class="js-input-mask feedback-form__input" name="phone" type="text">
					<p class="feedback-form__warning">Номер телефона должен состоять из 10 цифр, начиная с кода оператора</p>
					<div class="input-placeholder">Телефон*</div>
				</div>
				<p>
					<button class="popup__button button">Отправить</button>
				</p>
			</form>
		</div>
		<div class="popup popup_corporate" data-popup="corporate">
			<span class="js-close-popup popup__close"></span>
			<div class="popup__text"><strong>Мы покупаем компьютерную технику у фирм в любом количестве.</strong>
				Наличный и безналичный расчет. Бесплатный выезд оценщика. Оставьте Ваш телефон ниже или просто позвоните
				нам.
			</div>
			<form class="popup__feedback-form feedback-form">
				<div class="feedback-form__line">
					<input class="js-input-mask feedback-form__input" name="phone" type="text">
					<p class="feedback-form__warning">Номер телефона должен состоять из 10 цифр, начиная с кода оператора</p>
					<div class="input-placeholder">Телефон*</div>
				</div>
				<p>
					<button class="popup__button button">Отправить</button>
				</p>
			</form>
		</div>


		<div class="popup popup_successfully" data-popup="successfully">
			<span class="js-close-popup popup__close"></span>
			<div class="popup__text">
				<p><strong>Сообщение отправлено.</strong></p>
				<p>Консультант перезвонит в течение 5 минут.</p>
			</div>
		</div>
	</div>


{% endblock %}
