<div class="footer">
    <div class="container">
        <div class="header-grid">
            <div class="header-grid__item header-grid__item_first">
                <div class="logo">
                    <p class="logo__title">ООО «Скупка Ноутбуков»</p>
                    <p class="logo__description">Оценка и скупка любых ноутбуков, планшетов, моноблоков в Москве и Московской области</p>
                </div>
            </div>
            <div class="header-grid__item header-grid__item_second">
                <div class="callback">
                    <p class="callback_btn-wrap"><span class="js-open-popup button" data-popup-name="call-me-back">Перезвоните мне</span></p>
                    <p class="js-open-popup callback__link" data-popup-name="corporate">Корпоративным клиентам</p>
                </div>
            </div>
            <div class="header-grid__item header-grid__item_third">
                <div class="contacts">
                    <div class="contacts__phone">
                        <i class="js-open-popup contacts__phone-icon fri-mail-icon" data-popup-name="call-me-back"></i>
                        <a class="contacts__phone-number" href="tel:84952667756">8(495)266-77-56</a>
                    </div>
                    <div class="contacts__schedule">Круглосуточно без выходных!<br>Бесплатный курьер по Москве и МО!</div>
                </div>
            </div>
        </div>
    </div>
</div>