<div class="header">
    <div class="container">
        <div class="header-grid">
            <div class="header-grid__item">
                <div class="logo logo__item">
                    <a href="#" class="logo__title">ООО «Скупка Ноутбуков»</a>
                    <a href="#" class="logo__description">Оценка и скупка любых ноутбуков, планшетов, моноблоков в Москве и Московской области</a>
                </div>
            </div>
            <div class="header-grid__item header-grid__item_middle">
                <div class="callback callback_text-center">
                    <a href="#" class="js-open-popup button button-red callback__button" data-popup-name="thanks">Перезвоните мне</a>
                    <a href="#" class="callback__link">Корпоративным клиентам</a>
                </div>
            </div>
            <div class="header-grid__item">
                <div class="header-contacts">
                    <a class="header-contacts__phone-link" href="tel:84952667755">
                        <i class="fri-mail-icon header-contacts__icon header-contacts__icon_25px"></i>
                        <div class="header-contacts__phone-number">8(495)266-77-55</div>
                    </a>
                    <div class="header-contacts__work-schedule">
                        <div class="header-contacts__day-and-night">Круглосуточно без выходных!</div>
                        <div class="header-contacts__courier">Бесплатный курьер по Москве и МО!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>