<div class="header header__background">
    <div class="header header__desktop">
        <div class="header-logo header-logo__view">
            <span class="header-logo__title_font">ООО «Скупка Ноутбуков»</span>
            <span class="header-logo__text_font">Оценка и скупка любых ноутбуков, планшетов, моноблоков в Москве и Московской области</span>
        </div>
        <div class="header-tell-me header-tell-me__view">
            <button class="header-tell-me button button__call-me">Перезвоните мне</button>
            <a class="header-tell-me__corporate-clients">Корпоративным клиентам</a>
        </div>

        <div class="header-contacts header-contacts_font-white header-contacts__contacts-info">
            <a href="#"><img class="fri i-mail-icon" src="images/icons/mail-icon.png"></a>
            <span class="header-contacts__phone">8(495)266-77-56</span>
            <span class="header-contacts__text">
                Круглосуточно без выходных!<br/>
                Бесплатный курьер по Москве и МО!
            </span>
        </div>
    </div>
</div>