<div class="header header__background">
    <div class="header__container container">
        <div class="header-grid">
            <div class="header-grid__item">
                <a href="#" class="logo">
                    <span class="logo__title">ООО «Скупка Ноутбуков»</span>
                    <span class="logo__description">Оценка и скупка любых ноутбуков, планшетов, моноблоков в Москве и Московской области</span>
                </a>
            </div>
            <div class="header-grid__item">
                <div class="callback">
                    <a href="#" class="button button-red callback__button">Перезвоните мне</a>
                    <a href="#" class="callback__link">Корпоративным клиентам</a>
                </div>
            </div>
            <div class="header-grid__item">
                <div class="header-contacts">
                    <div class="header-contacts__phone">
                        <a class="header-contacts__phone-link" href="tel:84952667755">
                            <i class="fri-mail-icon"></i>
                            <div class="header-contacts__phone-number">8(495)266-77-55</div>
                        </a>
                    </div>
                    <div class="header-contacts__work-schedule">
                        <span class="header-contacts__day-and-night">Круглосуточно без выходных!</span>
                        <span class="header-contacts__courier">Бесплатный курьер по Москве и МО!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>