<div class="header">
    <div class="container">
        <div class="header-grid">
            <div class="header-grid__item header-grid__item_first">
                <div class="logo">
                    <p class="logo__title">ООО «Скупка Ноутбуков»</p>
                    <p class="logo__description">Оценка и скупка любых ноутбуков, планшетов, моноблоков в Москве и Московской области</p>
                </div>
            </div>
            <div class="header-grid__item header-grid__item_second">
                <div class="callback">
                    <p class="callback_btn-wrap"><span class="js-open-popup button button__footer" data-popup-name="call-me-back">Перезвоните мне</span></p>
                    <p><span class="js-open-popup callback__link" data-popup-name="corporate">Корпоративным клиентам</span></p>
                </div>
            </div>
            <div class="header-grid__item header-grid__item_third">
                <div class="contacts">
                    <div class="contacts__phone">
                        <i class="js-open-popup contacts__phone-icon fri-mail-icon" data-popup-name="call-me-back"></i>
                        <a class="contacts__phone-number" href="tel:84959200462">8 (495)
                            920-04-62</a>
                    </div>
                    <div class="contacts__schedule">Круглосуточно без выходных!<br> <strong class="contacts__courier">Бесплатный курьер по Москве
                            и МО!</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>